/x64/Debug/*.exe
NewUI_Demo/x64
NewUI_Demo.sln
NewUI_Demo/Resources
/QT_FrontCheckClass/GeneratedFiles/ui_QtGuiSetting.h
/.vs/NewUI_Demo/v15/Solution.VC.db-wal
/.vs/NewUI_Demo/v15/Solution.VC.db-shm
/.vs/NewUI_Demo/v15/Solution.VC.db
/.vs/NewUI_Demo/v15/ipch/AutoPCH/fbed0f33faf8839c/MULTGETSHOWCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/f555f9e01a8ce873/MULTGETSHOWCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/f54e95794adf13d6/MOC_QT_OCRCHECKCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/ecc67c97848dbe37/QT_FRONTCHECKCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/ea9fb268594ec127/MOC_MULTTHREAD_RUN.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/e59980b38a02cfa4/QT_OCRCHECKCLASS_GLOBAL.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/cfbba7fabf38419c/MAIN.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/c8ca6b576cfef517/QT_OCRCHECKCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/c8602d5cd40d8587/MOC_INTERCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/c5e7f718dd89f297/QTGUISETTING.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/c4ba958f65a9f030/MOC_INTERCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/bbb349807032cded/INTERCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/a9350d10d85fffca/ASYNC.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/a23bca4759c37731/QTCAMERASET.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/9a2f936734dc9b0e/MOC_OUTSHOWCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/95ec12c1ab5f88c7/QTLIVEUSBKEY.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/71a7e182f50b63bf/INITFUNCTION.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/6e4dbb5e812db797/MULTTHREAD_RUN.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/63539b55dca317b4/QT_FRONTCHECKCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/52a0fff89c67acf8/QTGUISETTING.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/4eb461d5eedee6db/OUTSHOWCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/4e7438a7b2920ab5/CHECKRELAY.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/4379db98f0a0171b/NEWUI_DEMO.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/3cd9998fdf2dfec6/OPENCV.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/3651f596a11f3d06/ALLRELAYHEAD.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/3308a05373d81229/MOC_OUTSHOWCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/308c80d4d8addc8e/SOCKET_CPP.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/21ac26be9b16d322/INTERCHECK.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/1d665b011631ae7b/QT_FRONTCHECKCLASS.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/12c08ce81eb49885/RINGBUFFER.ipch
/QT_FrontCheckClass/x64/Debug/vc141.pdb
/QT_FrontCheckClass/x64/Debug/qt_work.log
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/uic.write.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/uic.read.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/rc.write.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/rc.read.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/rc.command.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/QT_OCRCheckClass.write.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/QT_OCRCheckClass.lastbuildstate
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/moc.write.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/moc.read.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/link.write.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/link.read.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/link.command.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/CL.write.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/CL.read.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.tlog/CL.command.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_OCRCheckClass.log
/QT_FrontCheckClass/x64/Debug/QT_FrontCheckClass.res
/QT_FrontCheckClass/x64/Debug/QT_FrontCheckClass.obj
/QT_FrontCheckClass/x64/Debug/QT_FrontCheckClass.log
/QT_FrontCheckClass/x64/Debug/QT_FrontCheckClass.Build.CppClean.log
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/uic.write.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/uic.read.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/rc.write.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/rc.read.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/rc.command.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/QT_FrontCheckClass.write.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/QT_FrontCheckClass.lastbuildstate
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/moc.write.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/moc.read.1u.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/link.write.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/link.read.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/link.command.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/CL.write.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/CL.read.1.tlog
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog/CL.command.1.tlog
/QT_FrontCheckClass/x64/Debug/QTLiveUSBkey.obj
/QT_FrontCheckClass/x64/Debug/QtGuiSetting.obj
/QT_FrontCheckClass/x64/Debug/OutShowCheck.obj
/QT_FrontCheckClass/x64/Debug/MultGetShowClass.obj
/QT_FrontCheckClass/x64/Debug/moc_QT_FrontCheckClass.obj
/QT_FrontCheckClass/x64/Debug/moc_QTLiveUSBkey.obj
/QT_FrontCheckClass/x64/Debug/moc_QtGuiSetting.obj
/QT_FrontCheckClass/x64/Debug/moc_OutShowCheck.obj
/QT_FrontCheckClass/x64/Debug/moc_MultGetShowClass.obj
/QT_FrontCheckClass/x64/Debug/moc_InterCHeck.obj
/QT_FrontCheckClass/x64/Debug/InterCHeck.obj
/QT_FrontCheckClass/x64/Debug/CheckRelay.obj
/QT_FrontCheckClass/GeneratedFiles/Debug/moc_QT_FrontCheckClass.cpp
/QT_FrontCheckClass/GeneratedFiles/Debug/moc_QTLiveUSBkey.cpp
/QT_FrontCheckClass/GeneratedFiles/Debug/moc_QtGuiSetting.cpp
/QT_FrontCheckClass/GeneratedFiles/Debug/moc_OutShowCheck.cpp
/QT_FrontCheckClass/GeneratedFiles/Debug/moc_MultGetShowClass.cpp
/QT_FrontCheckClass/GeneratedFiles/Debug/moc_InterCHeck.cpp
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/NewUI_Demo/v15/Browse.VC.opendb
/.vs/NewUI_Demo/v15/Browse.VC.db
/.vs/NewUI_Demo/v15/.suo
/QT_FrontCheckClass/QT_FrontCheckClass.vcxproj.user
/x64/Debug/CameraConfig.ini
/x64/Debug/CheckParam.ini
/.vs/NewUI_Demo/v15/ipch/AutoPCH/a57eccf5efd68d88/QTLIVEUSBKEY.ipch
/.vs/NewUI_Demo/v15/ipch/AutoPCH/518d9460f9cfc45d
/x64/Debug/logs
/x64/Debug/QT_FrontCheckClass.pdb
/x64/Debug/QT_FrontCheckClass.lib
/x64/Debug/QT_FrontCheckClass.ilk
/x64/Debug/QT_FrontCheckClass.exp
/x64/Debug/QT_FrontCheckClass.dll
/x64/Debug/opencv_imgproc420d.dll
/x64/Debug/opencv_imgcodecs420d.dll
/x64/Debug/opencv_highgui420d.dll
/x64/Debug/opencv_core420d.dll
/x64/Debug/NewUI_Demo.pdb
/x64/Debug/NewUI_Demo.ilk
/QT_FrontCheckClass/x64/Debug/QT_Front.D86D59EE.tlog
/x64/Debug/imageformats/qwebpd.dll
/x64/Debug/imageformats/qwbmpd.dll
/x64/Debug/imageformats/qtiffd.dll
/x64/Debug/imageformats/qtgad.dll
/x64/Debug/imageformats/qsvgd.dll
/x64/Debug/imageformats/qjpegd.dll
/x64/Debug/imageformats/qicod.dll
/x64/Debug/imageformats/qicnsd.dll
/x64/Debug/imageformats/qgifd.dll
/x64/Debug/imageformats
/x64/Debug/iconengines/qsvgicond.dll
/x64/Debug/iconengines
/x64/Debug/.NET4.0/GxIAPINET.dll
/x64/Debug/.NET4.0
/x64/Debug/.NET3.5/GxIAPINET.dll
/x64/Debug/.NET3.5
/x64/Debug/translations
/x64/Debug/XmlParser_MD_VC120_v3_0.dll
/x64/Debug/styles/qwindowsvistastyled.dll
/x64/Debug/styles
/x64/Debug/Qt5Widgetsd.dll
/x64/Debug/Qt5Svgd.dll
/x64/Debug/Qt5Guid.dll
/x64/Debug/Qt5Cored.dll
/x64/Debug/platforms/qwindowsd.dll
/x64/Debug/platforms
/x64/Debug/opengl32sw.dll
/x64/Debug/NodeMapData_MD_VC120_v3_0.dll
/x64/Debug/msvcr120.dll
/x64/Debug/msvcp120.dll
/x64/Debug/MathParser_MD_VC120_v3_0.dll
/x64/Debug/Log_MD_VC120_v3_0.dll
/x64/Debug/log4cpp_MD_VC120_v3_0.dll
/x64/Debug/libGLESV2d.dll
/x64/Debug/libEGLd.dll
/x64/Debug/GxIAPICPPEx.dll
/x64/Debug/GxIAPICPP.dll
/x64/Debug/GxIAPI.dll
/x64/Debug/GenCP_MD_VC120_v3_0.dll
/x64/Debug/GenApi_MD_VC120_v3_0.dll
/x64/Debug/GCBase_MD_VC120_v3_0.dll
/x64/Debug/DxImageProc.dll
/x64/Debug/D3Dcompiler_47.dll
/x64/Debug/CLSerCOM.dll
/x64/Debug/CLProtocol_MD_VC120_v3_0.dll
/x64/Debug/CLAllSerial_MD_VC120_v3_0.dll
/.vs/NewUI_Demo/v15/ipch/AutoPCH/f83c37816f2c6b2b
/x64/Debug/DefaultModel
/x64/Debug/ModelFile
/.vs/NewUI_Demo/v15/ipch/AutoPCH/27cc0092daf8693e
/.vs/NewUI_Demo/v15/ipch/AutoPCH/ed061f1262914d69
/.vs
/QT_FrontCheckClass/x64
/x64/Debug/opencv_highgui347d.dll
/x64/Debug/opencv_imgcodecs347d.dll
/x64/Debug/opencv_imgproc347d.dll
/x64/Debug/opencv_core347d.dll
/OffLine_Demo/.vs/OffLine_Demo/v15
/OffLine_Demo/x64
/x64/Debug
/NewUI_Demo/ico/1.gif
/NewUI_Demo/exeLogol.aps
/QT_FrontCheckClass
/NewUI_Demo/Debug/NewUI_Demo.tlog
/NewUI_Demo/Debug/qmake
/NewUI_Demo/Debug/moc
/NewUI_Demo/Debug
/Win32/Debug
/QT_FrontCheckClass_old
/Debug
/x64/Debug/osk.exe
/NewUI_Demo/Release
/Win32/Release
/NewUI_Demo.sln
/Win32
/NewUI_Demo/.vs
/NewUI_Demo/Win32
